<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.type %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table> 