<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= button_to 'Delete', user, method: :delete,
                                        data: { confirm: "You sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
