* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #1fc8db, #2cb5e8);
  border-radius: 20%;
  height: 100%;
  margin: 0;
  width: 100%;
}

#root {
  width: 200px;
  height: 200px;
  margin: 200px auto 0;
  background-color: indigo;
  border-radius: 100%;
  -webkit-animation-name: vr333;
          animation-name: vr333;
  -webkit-animation-duration: 5.1s;
          animation-duration: 5.1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes vr333 {
  0% {
    background-color: indigo;
  }

  20% {
    background-color: lightgreen;
  }

  40% {
    background-color: yellow;
  }

  60% {
    background-color: skyblue;
  }

  80% {
    background-color: cornflowerblue;
  }

  100% {
    background-color: indigo;
  }
}

@keyframes vr333 {
  0% {
    background-color: indigo;
  }

  20% {
    background-color: lightgreen;
  }

  40% {
    background-color: yellow;
  }

  60% {
    background-color: skyblue;
  }

  80% {
    background-color: cornflowerblue;
  }

  100% {
    background-color: indigo;
  }
}