/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
     position: relative;
     min-height: 100%;
 }

 body {
     height: 100%;
     margin-bottom: 20px;
 }

 /* --- header --- */
 .navbar{
   background-color: #780116;

   li{
     :hover{
       color: #780116;
     }
   }

   a{
     color: #eae2b7;

     :hover{
       color: #780116;
     }
   }
 }

 .navbar-toggle .icon-bar{
   background-color: #eae2b7;
 }

 /* --- footer --- */
 #footer{
   background-color: #780116;
   color: #eae2b7;
   padding: 5px auto;
   margin-top: 20px;
   position: absolute;
   bottom: 0;
   height: 20px;
   width: 100%;
 }

 /* --- button -- */
 .btn{
   background-color: #fcbf49;

   :hover{
     background: #f77f00;
   }
 }

 .btn-danger{
   background-color: #d62828;
 }
