/*@import "bootstrap-sprockets";
@import "bootstrap";*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

$primary-color: #9F182C;
$light-green: #D3EBBC;
$white: #fff;
$black: #000;

.center {
  text-align: center;
}

.player-name {
  background-color: $primary-color;
  color: $light-green;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 1.6rem;
  border: 1px solid $black;

  .player-info {
    color: $white ;
  }
}

.log {
  color: $primary-color;
}

.btn-start{
  background-color: $white;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.select-hit {
  background-color: $primary-color;
  border-radius: 3px;
  color: $white;
  margin: 3px;
  font-weight: bold;
  width: 50%;
  height: 20px;
  border: 1px solid $black;
}

.head-game {
  background-color: $white;
}

.arena-fights {
  background-image: image_url('arena8.gif');
  background-size: 100% 100%;
  border: 10px solid $black;
  opacity: 0.9;
  i {
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
  }
}

.user-items, .inventory-items {
  width: 264px;
  display: block;
  text-align: left;
}
.user-items > img, .inventory-items > img{
  margin: 3px;
  border: 2px solid #e18916;
  width: 60px;
  height: 60px;
}

.inventory-items > img.activated {
  border: 10px solid green;
}

meter::-webkit-meter-bar {
  background-image:
    linear-gradient(
      transparent,
      $light-green 33%,
      $light-green 66%
    );
      border: 1px solid $black;
}

meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg,
    $light-green 0%,
    #f28f68 0%,
    $primary-color 80%
  );
  background-size: 100% 100%;
}

#footer {
  width: 100%;
  height: 100%;
  #copy {
    margin: 0 auto;
  }
}

.container {
  width: 100%;
  height: 100%;
}
.splash {
  width: 1170px;
  height: 645px;
  position: absolute;
  background: #150303b3;
  z-index: 9;
  text-align: center;
  color: white;
  line-height: 645px;
  font-size: 24px;
}
.user-invite {
  margin: 10px 0;
  cursor: pointer;
  border: 2px solid black;
  padding: 20px;
}
