$main: #780116;

#location-page {
  width: 100%;
  height: 100%;

  .desc-image {
    min-width: 100%;
  }

  .description {
    font-family: cursive;
  }

  .chat {
    max-height: 70%;
    margin-bottom: 10%;
  }

  .nav-panel {
    max-height: 20%;

    .nav-button{
      width: 100%;
      margin: 2%;
      background-color: $main;
      color: white;
      font-size: 1.4em;
      &:hover {
        color: skyblue;
        background-color: $main;
        background-position: 0;
      }

      @media screen and (min-width: 451px) {
        width: 20%;
      }
    }
  }
}
