/* Basic style */
/* --- Colors --- */

$dutch-white: #eae2b7;
$yellow-red: #fcbf49;
$orange: #f77f00;
$red: #d62828;
$burgundy: #780116;

/* --- start style --- */
html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin-bottom: 20px;
}

/* --- header --- */
.nav {
  li:last-child {
    :hover {
      background-color : transparent;
      cursor: pointer;
    }
  }
}
.navbar{
  background-color: $burgundy;

  li{
    :hover{
      color: $burgundy;
    }
  }

  a{
    color: $dutch-white;

    :hover{
      color: $burgundy;
    }
  }
}

.navbar-toggle .icon-bar{
  background-color: $dutch-white;
}

/* --- footer --- */
#footer{
  background-color: $burgundy;
  color: $dutch-white;
  padding: 5px auto;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
}

/* --- button -- */
.btn{
  background-color: $yellow-red;

  :hover{
    background: $orange;
  }
}

.btn-danger{
  background-color: $red;
}

/* --- locale internationalization -- */
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 15px;
  display: block;
}

.dropdown-locale:hover .dropdown-content {
  display: block;
}
