.sign_in_box{
  height: 100px;
  width:100%;
  display:flex;
  justify-content:flex-end;
}

.submit-btn-sign{
  background-color: #00d8ff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.addition_space{
  padding: 0 10px 0 10px;
}

/*.button_box{
  display:flex;
  justify-content:'space-between';
}*/